<!doctype html>
<html lang="fr">
  <head>
    <link rel= "stylesheet" href="{{url_for('static', filename='design.css')}}" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>THE DATABASE</title>
  </head>
  <body>
    <h2>Best database in the WWW</h2>
    <ul>
        <li><a href = /table> Main Table</a> </li>
        <li><a href = /table/customer> Customer list </a> </li>
        <li><a href = /table/customer_order> Customer order </a> </li>
        <li><a href = /table/order_detail> Order details </a> </li>
        <li><a href = /table/product> Product</a> </li>
    </ul>
    <!-- <img src="{{url_for('static', filename='Aki_Yehuo 03-11-2023.jpg')}}" alt="UNE BELLE IMAGE"/> -->
  </body>
</html>