<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de données BDD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customer.css') }}">
</head>
<body>
    <h1>Importation des données d'une BDD</h1>

    <div>
        <p class="zut">Choisissez les informations à afficher :</p>
        <ul>
            <li><a href="/table/customer">Clients</a></li>
            <li><a href="/table/product">Produit</a></li>
            <li><a href="/table/customer_order">Commandes des clients</a></li>
            <li><a href="/table/order_detail">Détail des commandes</a></li>
        </ul>
    </div>
    
</body>
</html>

<div class="logo-holder">
    <div class="bg"></div>
    <div class="bar"></div>
    <div class="bar fill1"></div>
    <div class="bar fill2"></div>
    <div class="bar fill3"></div>
    <div class="bar fill4"></div>
    <div class="bar fill1"></div>
    <div class="bar fill5"></div>
    <div class="bar fill6"></div>
    <div class="bar"></div>
  </div>
