<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customer.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="/">Accueil</a>
            <a href="/table/customer" id="onglet1" class="onglet" >Clients</a>
            <a href="/table/product" id="onglet2" class="onglet" >Produits</a>
            <a href="/table/customer_order" id="onglet3" class="onglet" >Commandes des clients</a>
            <a href="/table/order_detail" id="onglet4" class="onglet" >Détail des commandes</a>
            <a href="/table/all" id="onglet5" class="onglet5" >Tous les tableaux</a>
        </nav>
    </header>
    <h1>Liste des Clients</h1>
    <div>

        <p class = "zut">Voici la liste des {{name}} </p>

    <div class = "tabdiv">

        <table id="MaTable">
        
            <caption>Table : {{name}}</caption>
    
            <thead>
                <tr>
                {%for row in col%}
                    <th>{{row}}</th>
                {%endfor%}
                </tr>
            </thead>
        
            <tbody>
                {%for i in tables%}
                    <tr>
                    {%for j in i%}
                        <td>{{j}}</td>
                    {%endfor%}
                    </tr>
                {%endfor%}
            </tbody>
        
        </table>

    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>